* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: #282828;
    color: #fff;
}

header {
    background-color: #1C4EAD;
}

p {
    font-size: 1.5rem;
}

#frontpage_image {
    width: 100%;
}